---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
---

<Layout>
  <Hero image={{ src: '~/assets/images/home-top.jpg', alt: 'Home Top Image' }}>
    <Fragment slot="title"> 住宅足場専門店 ！ </Fragment>

    <Fragment slot="subtitle">
      １階から３階程度までの住宅に特化した足場屋です。<br />活動の幅を広げないからこそ出来る価格で提供致します。
      <br /><br /><br />資材、トラック等の設備を全て自社保有！<br /><br /> 職人も全て自社スタッフで施工させて頂きます。
    </Fragment>
  </Hero>

  <Content
    isReversed
    items={[
      {
        title: '追加費用が少ないので金額がわかりやすい！',
      },
    ]}
    image={{
      src: '~/assets/images/money.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">金額の簡素化</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        title: '足場面積 1平米あたり500円',
      },
      {
        title: '3階建て以降はプラス50円〜',
      },
    ]}
    image={{
      src: '~/assets/images/outer-wall.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        足場組立料金<br /><br />500円/㎡
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    items={[
      {
        title: 'ほとんどの外壁、屋根工事に必要なシート取り付けを無料でさせて頂きます！',
      },
    ]}
    image={{
      src: '~/assets/images/mesh.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        メッシュシート<br /><br />0円！
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        title: '3階建て以降は1階毎にプラス50円〜',
      },
    ]}
    image={{
      src: '~/assets/images/roof.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        屋根足場料金<br /><br />500円/㎡
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
